.login {
  width: 400px;
  height: 100vh;
  padding: 2rem;
  border: 1px solid red;
  margin: 0 auto;
}

.login h1 {
  font-size: 37px;
  line-height: 56px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--text_one);
}

.login form {
  padding-bottom: 3vh;
  margin-bottom: 1vh;
  border-bottom: 1px solid rgb(223, 221, 221);
}
.login a {
  color: var(--theme_one);
}
